.headText {
	color:red;
	font-size: 25px;
	font-weight: bold;
}

 body {
    text-align: center;
    margin: auto;
}
img {
	width: 500px;
    height: 500px;
}
.mybutton{

}
 
h3 {
	color:red;
	font-size: 25px;
    font-weight: bold;
}

img {
	width: auto500;
    height: 500px;
}
.mybutton{

}
 